.message {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  overflow: auto;
  overflow-x: hidden;
  height: 80vh;
  .message-title {
    color: #d9dada;
    margin-left: 3px;
  }
  .message_search-bar {
    display: flex;
    align-items: center;
    padding-top: 10px;

    .search-content {
      display: flex;
      align-items: center;

      i {
        color: #d9dada;
        margin-right: 10px;
      }

      input {
        background-color: #161617;
        border: none;
        color: white;
        outline: none;
        width: 300px;
        padding: 10px;
        border-radius: 7px;
        border: 1px solid #222323;

        &::placeholder {
          color: #d9dada;
        }
      }

      img {
        margin-left: -40px;
        height: 30px;
        color: #222323;
      }
    }
  }

  .conversation-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .conversation {
      padding: 10px;
      position: relative;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.1);
      }

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .conversation_bubble {
        width: 25px;
        height: 25px;
        margin-left: auto;
      }

      .profile-info {
        h3 {
          margin: 0;
          font-size: 18px;
          color: #d9dada;
        }

        p {
          font-size: 15px;
          margin-top: 5px;
          color: rgba(130, 133, 133, 0.8);
        }
      }
    }
    .conversation:hover {
      width: 100%;
      background-color: #222627;
      cursor: pointer;
    }
  }
}

.modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: 400px;
  height: 300px;
  overflow: auto ;
  display: flex;
  flex-direction: column;

  .modal-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 20px;
      color: #333;
    }

    .close-button {
      background: none;
      border: none;
      cursor: pointer;
      color: #888;
      font-size: 24px;
      margin-left: auto;

      /* Ajoutez le style pour l'effet au survol */
      transition: color 0.3s ease;
    }

    /* Style pour le survol de la souris */
    .close-button:hover {
      color: red;
    }
  }

  .modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .input-container {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: calc(100% - 40px);
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 5px;
      outline: none;

      &::placeholder {
        color: #aaa;
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px;
      margin-left: 10px;
    }
  }
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}
.message-item {
  padding: 8px;
  margin-bottom: 8px;
}
.message-content {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  margin-right: 10px; /* Ajoute un espacement à droite entre l'image et le texte si nécessaire */
}

.message-content img {
  margin-right: 10px; /* Ajoute un espacement à droite entre l'image et le texte si nécessaire */
}

.message-item.user .message-content {
  justify-content: flex-end; /* Aligner à droite les messages de l'utilisateur */
}

.message-item.user .message-content p {
  background-color: #DCF8C6; /* Ajouter un fond coloré pour les messages de l'utilisateur */
}
.message-item.john-doe .message-content p {
  background-color: #E4EAF2; /* Fond coloré pour les messages de John Doe */
  border-radius: 10px; /* Border radius pour arrondir les coins */
  padding: 10px;
}

.message-item.user .message-content p {
  background-color: #DCF8C6; /* Fond coloré pour les messages de l'utilisateur */
  border-radius: 10px; /* Border radius pour arrondir les coins */
  padding: 10px;
}



@media (max-width: 600px) {
  .modal {
    height: 90vh;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0; 
    z-index: 9999;
    background-color: #ffff;
    border-radius: 5px
    ;
  }
}



