.publication {
<<<<<<< HEAD
  border-right: solid 1px black;
  height: 75vh;
  overflow: auto;
  margin-top: 10px;
}

.publication_add {
  background-color: black;
  max-width: 90%;
  height: min-content;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  .publication_add_form_header {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50px;
    }
    .publication_add_form_header_input {
      width: 100%;
      min-height: 60px;
      border: solid 1px rgb(0, 0, 0);
      background-color: white;
      border-radius: 5px;
      font-size: 20px;
      margin-left: 1rem;
      padding-left: 5px;
      outline: none;
      resize: none;
      overflow-y: hidden;
    }
  }

  .publication_add_form_footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .publication_add_form_footer_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 30px;
        cursor: pointer;
      }
    }

    .publication_submit_button {
      background-color: white;
      width: 60px;
      height: 30px;
      padding: 5px 10px;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.post_container {
  background-color: black;
  color: white;
  width: 90%;
  height: min-content;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  p {
    text-align: justify;
    max-width: 600px;
    color: rgb(232, 219, 219);
    word-wrap: break-word;
    margin-top: 10px;
  }
  img {
    width: 100%;
  }
  .post_button {
    width: 50px;
    display: flex;
    button {
      display: flex;
      margin-right: 5px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.icon-loaded {
  animation: icon-loaded 1s infinite;
}

@keyframes icon-loaded {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
=======
  border: solid 3px purple;
  height: 100%;
>>>>>>> main
}
