* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 16px;
}

body {
  --sb-track-color: #303131;
  --sb-thumb-color: #161617;
  --sb-size: 7px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}
